/** @format */

:root {
	--main-blue: #2a2a72;
	--light-blue: #009ffd;
	--main-white: #f4f4f4;
	--main-dark: #232528;
	--main-yellow: #ffa400;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	/* OVERWRITE OLD FONT FAMILY BY BOOTSTRAP */
	font-family: "Roboto", Arial, Helvetica, sans-serif !important;
	background-color: var(--main-white);
	color: var(--main-dark);
	font-weight: 600;
	overflow-x: hidden;
}
.nav-brand {
	width: 64px;
	height: 70px;
}
.text-blue {
	color: var(--main-blue);
}



button:focus {
	outline-color: transparent;
}